{if $result_code}<div class="message">{$amessages.result_code.$result_code}</div>{/if}
{if $error_code}<div class="message2">{$amessages.error_code.$error_code}</div>{/if}
{if $error}
{if $error.invalid || $error.message}
{assign var=input value=$error.INPUT}
<div class="errorBox">
<h2>{$locale->msg('error_notes')}:</h2>
<ul class="listStyle">
{foreach from=$input item=field}
{if $field.error}<li>{$field.message}</li>{/if}
{/foreach}
<li>{$error.message}</li>
</ul>
</div>
{/if}
{/if}
<div class="formContent">
<h1>Thêm</h1>

<form action="/{$aScript}" method="post" name="formAdd" id="formAdd" enctype="multipart/form-data" >
<fieldset>

<p><label for="languages">Ngôn Ngữ:</label>
<select name="languages" id="languages">
	{if $languagesList}
	<option value="all">Tất cả</option>
	{foreach $languagesList as $itemLang}
	<option value="{$itemLang->getPrefix()}">{$itemLang->getName()}</option>
	{/foreach}
	{/if}
</select></p>
<input hidden value="" name="display" id="display" />
	

<p><label for="educationlevel">Cấp học:</label>
<select name="dId" id="educationlevel">
{$categoryCombo}
</select></p>
<div class="display_item" id="display_{$itemLang->getPrefix()}">
    <input hidden class="keyLang" value="{$itemLang->getPrefix()}">
<div class="title_hidden">
    <p {if isset($error.INPUT) && $error.INPUT.name.error} class="errormsg"{/if}><label for="name{if $itemLang->getPrefix() == 'vn'}{else}_{$itemLang->getPrefix()}{/if}"> Trường học ({$itemLang->getName()}):</label>
        <input type="text"  value="{if isset($error.INPUT)}{$error.INPUT.name.value}{/if}"  name="name{if $itemLang->getPrefix() == 'vn'}{else}_{$itemLang->getPrefix()}{/if}" id="name{if $itemLang->getPrefix() == 'vn'}{else}_{$itemLang->getPrefix()}{/if}" /></p>
</div>

<div class="title_hidden">
    <p {if isset($error.INPUT) && $error.INPUT.name.error} class="errormsg"{/if}><label for="name{if $itemLang->getPrefix() == 'vn'}{else}_{$itemLang->getPrefix()}{/if}"> Lớp học ({$itemLang->getName()}):</label>
        <input type="text"  value="{if isset($error.INPUT)}{$error.INPUT.name.value}{/if}"  name="name{if $itemLang->getPrefix() == 'vn'}{else}_{$itemLang->getPrefix()}{/if}" id="name{if $itemLang->getPrefix() == 'vn'}{else}_{$itemLang->getPrefix()}{/if}" /></p>
</div>

{if $languagesList}
    {foreach $languagesList as $keyLang => $itemLang}
    <div class="display_item" id="display_{$itemLang->getPrefix()}">
        <input hidden class="keyLang" value="{$itemLang->getPrefix()}">
    </div>
</div>
    {/foreach}
{/if}



<script type="text/javascript">
	$(document).ready(function(){
		$('#seller').click(function(){
			$(this).val(1);
		})
	})
</script>
<br />


{if $fieldList}
<br /><h2>{$locale->msg('list_custom_field')}</h2>
{foreach key=no from=$fieldList item=field}
{if isset($error.INPUT)}
{assign var=field_name value=$field->getName()}
{$field->displayHTML($error.INPUT.$field_name.value)}
{else}
{$field->displayHTML()}
{/if}
{/foreach}
{/if}
<br clear="all" /></p>

<br />
<p class="btn">
<input type="hidden" name="op" value="manage" />
<input type="hidden" name="act" value="quanly" />
<input type="hidden" name="mod" value="add" />
<input type="hidden" name="doo" value="submit" />
<input type="hidden" name="sCode" value="{$sCode}_" />
<input type="hidden" name="lang" value="{$lang}" />
<input type="submit" value="{$locale->msg('button_submit')}" title="{$locale->msg('button_submit')}" name="btnSubmit" />
<input type="reset" value="{$locale->msg('button_reset')}" title="{$locale->msg('button_reset')}" name="btnReset" />
<input type="button" onclick="javascript:formSubmit('formAdd','list','cancel',0);" value="{$locale->msg('button_cancel')}" title="{$locale->msg('button_cancel')}" name="btnCancel" />
</p>
</fieldset>
</form>
</div>
<script>
    $('#languages').on('change', function(e) {
       var valueSelected = this.value;
       if (valueSelected == "all") {
           $('.display_item').css("display", "block");
       }else{
           if($("#display").val()=="all"){
           }else{
               $('.display_item').css("display", "none");
               $('#display_'+valueSelected).css("display", "block");
               $('#display').attr("value", valueSelected);
           }
       }
   });
</script>